@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@200&family=Roboto:ital,wght@0,500;0,700;0,900;1,500;1,700;1,900&display=swap');
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.bg-primary {
    background: #ea580c;
}

.home-banner {
    background-image:url('../src/assets/background.jpg');
    height: 400px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}